.assistant {
  z-index: 100;
}

.assistant__button {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $white;
  border: 2px solid lighten($pink, 10%);
  animation: pulse 3s infinite;

  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/icon-assistant.svg") no-repeat;
    background-size: contain;
  }
}

.assistant--open {
  .assistant__dialog {
    display: block;
  }

  .assistant__button {
    animation: none;
    overflow: hidden;

    &::before {
      animation: animateIconPeople 1s forwards;
    }

    &::after {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      left: 50%;
      background: url("../img/icon-close.svg") no-repeat;
      background-size: cover;
      animation: animateIconClose 0.7s forwards;
    }
  }
}

.assistant__dialog {
  display: none;
  position: fixed;
  bottom: 120px;
  left: 0;
  right: 0;
  height: 70vh;
  margin: 0 20px;
  border-radius: 15px;
  background: $white;
  border: 3px solid $pink;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.4);
}

@keyframes animateBorder {
  0% {
    border: 2px solid lighten($pink, 0%);
  }

  100% {
    border: 2px solid lighten($pink, 90%);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba($pink, 0.4), 0 0 0 2px rgba($pink, 0.2), 0 0 0 4px rgba($pink, 0.1);
  }

  50% {
    box-shadow: 0 0 0 8px rgba($pink, 0.8), 0 0 0 15px rgba($pink, 0.6), 0 0 0 20px rgba($pink, 0.3);
  }

  100% {
    box-shadow: 0 0 0 0 rgba($pink, 0.4), 0 0 0 2px rgba($pink, 0.2), 0 0 0 4px rgba($pink, 0.1);
  }
}

@keyframes animateIconPeople {
  0% {
    transform: translate(-50%, -50%);
  }

  100% {
    transform: translate(-100px, -50%);
  }
}

@keyframes animateIconClose {
  0% {
    transform: translate(50px, -50%);
  }

  100% {
    transform: translate(-50%, -50%);
  }
}
