.anthroponyms-about.section
  .container.anthroponyms-about__container
    p.paragraph.anthroponyms-about__paragraph.element-animation.
      <span class="color">Антроп<span>о</span>ним</span> — единичное имя собственное или совокупность имен собственных, идентифицирующих человека.
      В более широком смысле — это имя любой особы: вымышленной или реальной.
    p.anthroponyms-about__paragraph.element-animation.paragraph.
      В книге А. В. Суперанской «Общая теория имени собственного» указывается, что существуют различные типы антропонимов:
    ol.anthroponyms-about__list
      li.anthroponyms-about__item Личные имена
      li.anthroponyms-about__item Отчества
      li.anthroponyms-about__item Фамилии
      li.anthroponyms-about__item Мононимы
      li.anthroponyms-about__item Прозвище
      li.anthroponyms-about__item Псевдоним
