.anthroponyms-about.section
  .container.anthroponyms-about__container
    p.paragraph.anthroponyms-about__paragraph.element-animation.
      <span class="color">Антропоним</span> — единичное имя собственное или совокупность имен собственных, идентифицирующих человека.
      В более широком смысле — это имя любой особы: вымышленной или реальной.
    p.anthroponyms-about__paragraph.element-animation.paragraph.
      В книге А. В. Суперанской «Общая теория имени собственного» указывается, что существуют различные типы антропонимов:
    ol.anthroponyms-about__list
      li.anthroponyms-about__item личные имена
      li.anthroponyms-about__item отчества
      li.anthroponyms-about__item фамилии
      li.anthroponyms-about__item мононимы
      li.anthroponyms-about__item прозвище
      li.anthroponyms-about__item псевдоним
