.hydronims-examples__container {
  display: grid;
  gap: rem(20px);
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hydronims-examples__card {
  position: relative;
  border-radius: rem(10px);
  background: #cfcdff;
  padding: rem(10px);
}

.hydronims-examples__image {
  border-radius: rem(10px);
  margin-bottom: rem(10px);
  object-fit: cover;
  max-height: rem(300px);
}

.hydronims-examples__signature {
  margin: 0;
  text-align: center;
  font-size: rem(18px);
  line-height: rem(24px);

  @media (min-width: $tablet-width) {
    font-size: rem(22px);
    line-height: rem(33px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(27px);
    line-height: rem(40.5px);
  }
}
