.toponyms-examples__container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.toponyms-examples__card {
  position: relative;
  border-radius: 10px;
  background: #cfcdff;
  padding: 10px;
}

.toponyms-examples__image {
  border-radius: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  max-height: 300px;
}

.toponyms-examples__signature {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    font-size: 27px;
    line-height: 40.5px;
  }
}
