extends layout/main

block variables
  - var pageClass = "antonyms-page"
  - var title = "Антропонимы. Семейка Омонимов"

block content
  main(class=pageClass)
    h1.heading.element-animation Антропонимы
    include pages/anthroponyms/anthroponyms-about.pug
