extends layout/main

block variables
  - var pageClass = "antonyms-page"
  - var title = "Антропонимы. Семейка Онимов"

block content
  main(class=pageClass)
    h1.heading.element-animation Антропонимы
    include pages/anthroponyms/anthroponyms-about.pug
    include modules/test.pug
block scripts
  script(src="js/tests/test-anthroponyms.js")
