extends layout/main

block variables
  - var pageClass = "antonyms-page"
  - var title = "Антонимы. Семейка Омонимов"

block content
  main(class=pageClass)
    h1.heading.element-animation Антонимы
    include pages/antonyms/antonyms-about.pug
    include pages/antonyms/antonyms-examples.pug
    include modules/test.pug
block scripts
  script(src="js/tests/test-antonyms.js")
