extends layout/main

block variables
  - var pageClass = "homonyms-page"
  - var title = "Омонимы. Семейка Омонимов"

block content
  main(class=pageClass)
    h1.heading.element-animation Омонимы
    include pages/homonyms/homonyms-about.pug
    include pages/homonyms/homonyms-differences.pug
    include pages/homonyms/homonyms-examples.pug
    include pages/homonyms/homonyms-puzzles.pug
    include modules/morphemic-parsing.pug
block scripts
  script(src="js/puzzles-homonyms.js")
  script(src="js/morphemic-parsing.js")
