extends layout/main

block variables
  - var pageClass = "hyperonic-page"
  - var title = "Гиперонимы и гипонимы. Семейка Онимов"

block content
    main(class=pageClass)
      h1.heading.element-animation Гиперонимы и гипонимы
      include pages/hyperonic/hyperonic-about.pug
      include pages/hyperonic/hyperonic-examples.pug
      include modules/test.pug
block scripts
  script(src="js/tests/test-hyperonic.js")
