extends layout/main

block variables
  - var pageClass = "index-page"
  - var title = "Главная страница. Семейка Онимов"

block content
  main(class=pageClass)
    .container
      h1.visually-hidden Главная страница
      p(class=pageClass+"__paragraph element-animation") <span class="color">Онимы</span> — слово, словосочетание или предложение, которое служит для выделения именуемого им объекта среди других объектов.
      include pages/index/types.pug



