extends layout/main

block variables
  - var pageClass = "paronyms-page"
  - var title = "Паронимы. Семейка Онимов"

block content
    main(class=pageClass)
      h1.heading.element-animation Паронимы
      include pages/paronyms/paronyms-about.pug
      include pages/paronyms/paronyms-examples.pug
      include modules/test.pug
block scripts
  script(src="js/tests/test-paronyms.js")
