extends layout/main

block variables
  - var pageClass = "synonyms-page"
  - var title = "Синонимы. Семейка Омонимов"

block content
  main(class=pageClass)
    h1.heading.element-animation Синонимы
    include pages/synonyms/synonyms-about.pug
    include pages/synonyms/synonyms-types.pug
    include pages/synonyms/synonyms-examples.pug
    include pages/synonyms/synonyms-why.pug
    include pages/synonyms/synonyms-role.pug
    include modules/test.pug
block scripts
  script(src="js/tests/test-synonyms.js")
  script(src="js/examples-synonyms.js")
