section.polysemouswords-difference.section
  .container.polysemouswords-difference__container
    h2.polysemouswords-difference__heading.section-heading Чем отличаются омонимы от многозначных слов?
    .polysemouswords-difference__wrapper
      .polysemouswords-difference__block
        h3.polysemouswords-difference__title.paragraph Кнопка
        ul.polysemouswords-difference__list
          li.polysemouswords-difference__item Кнопка звонка
          li.polysemouswords-difference__item Кнопка-застёжка
          li.polysemouswords-difference__item Канцелярская кнопка
        svg(width="72" height="72" viewBox="0 0 72 72")
          use(xlink:href="img/sprite.svg#arrow-down")
        p.polysemouswords-difference__output.
          <span class="color">Общее</span>: на кнопку нажимают, она маленького размера.
        p.polysemouswords-difference__outcome.color Многозначные слова
      .polysemouswords-difference__block
        h3.polysemouswords-difference__title.paragraph Клуб
        ul.polysemouswords-difference__list
          li.polysemouswords-difference__item Клуб дыма
          li.polysemouswords-difference__item Клуб по интересам
          li.polysemouswords-difference__item Клуб — помещение для отдыха
        svg(width="72" height="72" viewBox="0 0 72 72")
          use(xlink:href="img/sprite.svg#arrow-down")
        p.polysemouswords-difference__output.
          По смыслу абсолютно <span class="color">разные</span>
        p.polysemouswords-difference__outcome.color Омонимы
