section.polysemouswords-about.section
  .container.polysemouswords-about__container
    p.paragraph.polysemouswords-about__paragraph.element-animation <span class="color">Многозначные слова</span> — слова, у которых есть два и более лексических значения.
    p.polysemouswords-about__paragraph.paragraph Для того чтобы общаться, передавать друг другу мысли, чувства необходимы слова. Чтобы понимать собеседника в обычном разговоре, достаточно 4-5 тысяч слов. Но и этого мало. Чем больше слов и их значений знает и умеет использовать в речи человек, тем точнее он может выражать свои мысли, тем он интереснее.
