.polysemouswords-difference
  .container.polysemouswords-difference__container
    h2.polysemouswords-difference__heading.section-heading Чем отличаются омонимы от многозначных слов?
    .polysemouswords-difference__wrapper
      .polysemouswords-difference__block-button
        h3.polysemouswords-difference__title Кнопка
        ul.polysemouswords-difference__list
          li.polysemouswords-difference__item Кнопка звонка
          li.polysemouswords-difference__item Кнопка-застёжка
          li.polysemouswords-difference__item Канцелярская кнопка
      .polysemouswords-difference__block-club
        h3.polysemouswords-difference__title Клуб
        ul.polysemouswords-difference__list
          li.polysemouswords-difference__item Клуб дыма
          li.polysemouswords-difference__item Клуб по интересам
          li.polysemouswords-difference__item Клуб — помещение для отдыха
