.index-page__paragraph {
  margin: rem(0 0 25px);
  font-size: rem(20px);
  line-height: rem(30px);

  @media (min-width: $tablet-width) {
    font-size: rem(24px);
    line-height: rem(36px);
    margin-bottom: rem(30px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(30px);
    line-height: rem(45px);
    margin-bottom: rem(40px);
    width: 73%;
  }
}
