.types-homonyms__heading {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 40px;
    line-height: 60px;
  }
}

.types-homonyms__list {
  padding-left: 17px;
  display: flex;
  flex-direction: column;
  margin: -5px 0;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    height: 251px;
    margin: -7.5px 0;
  }

  @media (min-width: $desktop-width) {
    height: 300px;
  }
}

.types-homonyms__item {
  margin: 5px 0;

  @media (min-width: $tablet-width) {
    margin: 7.5px 0;
  }
}

.types-homonyms__link {
  font-size: 20px;
  line-height: 24px;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 45px;
  }
}
