section.hyperonic-examples.section
  .container
    h2.hyperonic-examples__heading.section-heading Примеры гиперонимов
    .hyperonic-examples__container
      .hyperonic-examples__example
        h3.hyperonic-examples__gipony.paragraph Наука
        .hyperonic-examples__hyperonyms
          p.hyperonic-examples__hyperonic Математика
          p.hyperonic-examples__hyperonic Грамматика
          p.hyperonic-examples__hyperonic Биология
          p.hyperonic-examples__hyperonic Астрономия
      .hyperonic-examples__example
        h3.hyperonic-examples__gipony.paragraph Деревья
        .hyperonic-examples__hyperonyms
          p.hyperonic-examples__hyperonic Дуб
          p.hyperonic-examples__hyperonic Ива
          p.hyperonic-examples__hyperonic Ель
          p.hyperonic-examples__hyperonic Клён
      .hyperonic-examples__example
        h3.hyperonic-examples__gipony.paragraph Мебель
        .hyperonic-examples__hyperonyms
          p.hyperonic-examples__hyperonic Столы
          p.hyperonic-examples__hyperonic Стулья
          p.hyperonic-examples__hyperonic Диван
          p.hyperonic-examples__hyperonic Шкаф
