.hyperonic-about.section
  .container.hyperonic-about__container
    p.paragraph.hyperonic-about__paragraph.element-animation.
      <span class="color">Гиперонимы</span> — слова, обозначающие родовые понятия.
    p.paragraph.hyperonic-about__paragraph.element-animation.
      <span class="color">Гипонимы</span> — слова, обозначающие видовые понятия.
