.types-homonyms.element-animation
  h3.types-homonyms__heading Виды онимов
  ul.types-homonyms__list
    li.types-homonyms__item
      a.types-homonyms__link(href="synonyms.html") Синонимы
    li.types-homonyms__item
      a.types-homonyms__link(href="#") Многозначные слова
    li.types-homonyms__item
      a.types-homonyms__link(href="homonyms.html") Омонимы
    li.types-homonyms__item
      a.types-homonyms__link(href="paronyms.html") Паронимы
    li.types-homonyms__item
      a.types-homonyms__link(href="antonyms.html") Антонимы
    li.types-homonyms__item
      a.types-homonyms__link(href="pseudonyms.html") Псевдонимы
    li.types-homonyms__item
      a.types-homonyms__link(href="#") Топонимы
    li.types-homonyms__item
      a.types-homonyms__link(href="#") Анторопонимы
    li.types-homonyms__item
      a.types-homonyms__link(href="#") Гидронимы
    li.types-homonyms__item
      a.types-homonyms__link(href="#") Гипонимы
