// .morphemic-parsing__wrapper-table {
//   position: relative;
//   overflow: scroll;
//   width: 100%;
// }

.morphemic-parsing__table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 0 1px $black;
  margin: 0 auto;
  width: 100%;
  white-space: nowrap;
  border-radius: 10px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    width: 95%;
  }

  @media (min-width: $desktop-width) {
    font-size: 19px;
    line-height: 28.5px;
    width: 70%;
    margin-bottom: 20px;
  }

  td {
    border: 1px solid $black;
    padding: 5px 0;

    @media (min-width: $tablet-width) {
      padding: 10px 0;
    }
  }

  span {
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  input {
    height: 30px;
    width: 60px;
    border-radius: 10px;
    border: 2px solid #9390fc;
    display: block;
    margin: 0 auto;
    font: inherit;
    padding: 0 10px;

    @media (min-width: $tablet-width) {
      height: 40px;
      width: 100px;
    }

    &:focus {
      outline: none;
      border: 2px solid #0800ff;
    }

    &.right {
      border-color: #97ff5a;
      background: #ceffb1;
    }

    &.wrong {
      background: #ffcdcd;
      border-color: #ff6464;
    }
  }
}

.morphemic-parsing__paragraph {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 28.5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    margin-bottom: 10px;
    line-height: 33px;
  }
}

.morphemic-parsing__rules {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.morphemic-parsing__button {
  border: none;
  background: #cfcdff;
  width: 40%;
  margin: 0 auto;
  display: block;
  font-size: 18px;
  line-height: 24px;
  padding: 11px 0;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    transition: 0.3s all ease-in;
    background: darken(#cfcdff, 5%);
  }

  &:disabled {
    display: none;
  }
}
