.test__paragraph {
  text-align: center;
  width: 68%;
  margin: rem(0 auto 25px);
}

.test__list {
  margin: rem(0 0 28px);
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: rem(17px);
}

.test__button {
  background: #cfcdff;
  border: none;
  margin: rem(0 auto 10px);
  padding: rem(11px);
  border-radius: rem(7px);
  width: 76%;
  color: $black;
  font-size: rem(18px);
  line-height: rem(24px);
  display: flex;
  justify-content: center;
  transition: background-color ease 0.3s;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &:hover {
    background-color: lighten(#cfcdff, 5%);
  }

  &--wrong {
    background: #eb6465;

    &:hover {
      background-color: lighten(#eb6465, 5%);
    }
  }

  &--correct {
    background: #b7ff8d;

    &:hover {
      background-color: lighten(#b7ff8d, 5%);
    }
  }

  &--passive {
    background: #e4e4e4;

    &:hover {
      background-color: lighten(#e4e4e4, 5%);
    }
  }
}

.test__buttons {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 80%;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
  }
}
