section.pseudonyms-why.section
  .container.pseudonyms-why__container
    h2.pseudonyms-why__heading.section-heading Почему люди берут псевдоним?
    ol.pseudonyms-why__list
      li.pseudonyms-why__item Желание скрыть своё подлинное имя.
      li.pseudonyms-why__item Неблагозвучность своей фамилии.
      li.pseudonyms-why__item Боязнь критики.
      li.pseudonyms-why__item Это было модно.
      li.pseudonyms-why__item Литераторы имели однофамильцев.
      li.pseudonyms-why__item Желание запутать читателей.
      li.pseudonyms-why__item Сатирики псевдонимом производили сатирический эффект.
