section.pseudonyms-about.section
  .container.pseudonyms-about__container
    p.paragraph.pseudonyms-about__paragraph.element-animation <span class="color">Псевдоним</span> — вымышленное имя, которое иногда принимают писатели, артисты.
