.pseudonyms-about.section
  .container.pseudonyms-about__container
    p.paragraph.pseudonyms-about__paragraph.element-animation <span class="color">Псевд<span>о</span>ним</span> — вымышленное имя, которое иногда принимают писатели, артисты.
