section.pseudonyms-classification.section
  .container
    h2.pseudonyms-classification__heading.section-heading Классификация псевдонимов
    .pseudonyms-classification__container
      table.pseudonyms-classification__table
        thead
          tr.pseudonyms-classification__tr
            th.pseudonyms-classification__td Вид псевдонима
            th.pseudonyms-classification__td Фамилия автора
            th.pseudonyms-classification__td Псевдоним
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Апоконим
          td.pseudonyms-classification__td А. Чехов
          td.pseudonyms-classification__td Анче
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Героним
          td.pseudonyms-classification__td А. Фадеев
          td.pseudonyms-classification__td Данко
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Зооним
          td.pseudonyms-classification__td Н. Вагнер
          td.pseudonyms-classification__td Кот-Мурлыка
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Орнитоним
          td.pseudonyms-classification__td Е. Либенбаум
          td.pseudonyms-classification__td Е. Воробей
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Пайзоним
          td.pseudonyms-classification__td М. Горький
          td.pseudonyms-classification__td Иегудиил Хламида
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Палиноним
          td.pseudonyms-classification__td Э. Крамер
          td.pseudonyms-classification__td Э. М. Ремарк
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Преноним
          td.pseudonyms-classification__td В. Кюхельбекер
          td.pseudonyms-classification__td Вильгельм
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Псевдоандроним
          td.pseudonyms-classification__td А. Дюдеван
          td.pseudonyms-classification__td Жорж Санд
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Титлоним
          td.pseudonyms-classification__td А. Миньков
          td.pseudonyms-classification__td А. Маршал
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Хроматоним
          td.pseudonyms-classification__td Б. Бугаев
          td.pseudonyms-classification__td А. Белый
        tr.pseudonyms-classification__tr
          td.pseudonyms-classification__td Этноним
          td.pseudonyms-classification__td Д. Теотокопулос
          td.pseudonyms-classification__td Эль Греко
