section.morphemic-parsing.section
  .container.morphemic-parsing__container
    h2.morphemic-parsing__heading.section-heading Морфемный разбор
    p.morphemic-parsing__paragraph Выполни морфемный разбор слов. Запиши в таблицу каждую морфему:
    ul.morphemic-parsing__rules
      li.morphemic-parsing__item две или несколько морфем записывай через запятую с пробелом, в порядке их положения в слове;
      li.morphemic-parsing__item если указанной морфемы нет, то оставь поле пустым;
      li.morphemic-parsing__item если встретилась нулевая морфема — поставь цифру 0;
      li.morphemic-parsing__item записывай основу без пробелов, даже если она разрывается;
    .morphemic-parsing__wrapper-table
    table.morphemic-parsing__table
      tr.morphemic-parsing__head-table
        td
          span слово
        td
          span приставка
        td
          span корень
        td
          span суффикс(-ы)
        td
          span окончание
        td
          span основа
      tr.morphemic-parsing__word
        td
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
      tr.morphemic-parsing__word
        td
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
      tr.morphemic-parsing__word
        td
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
        td
          input.morphemic-parsing__input(type="text")
    button.morphemic-parsing__button(type="button" aria-label="Проверить морфемный разбор на правильность") Проверить
    p.morphemic-parsing__mark Вы набрали <span></span>/15 баллов
