footer.page-footer
  .container
    unless pageClass == 'index-page'
      a.page-footer__button.element-animation(href="index.html") Вернуться на главную
  a.page-footer__copyright(href="https://t.me/ugolnikov") &#169; Николай Угольников
