header.page-header.element-animation
  .container.page-header__container
    a.page-header__link(href=pageClass==="index-page" ? false : "index.html")
      img.page-header__logo(src="img/logo/logo.svg" alt="Логотип 'Семейка Омонимов'" width="193" height="47")

