.test.section.element-animation
  .test__container.container
    h2.test__heading.section-heading.element-animation Тест
    p.test__paragraph.paragraph.element-animation#test-head Синоним к слову "..."
    .test__buttons#test-buttons
      button.test__button.test__button Default button
      button.test__button.test__button--wrong Wrong answer
      button.test__button.test__button--correct Correct answer
      button.test__button.test__button--passive Unclicked button
      .test__process#test-pages 0 / 0
