.pseudonyms-why__list {
  list-style-type: none;
  counter-reset: ol-numbers;
  padding: 0;
}

.pseudonyms-why__item {
  position: relative;
  font-size: rem(18px);
  line-height: rem(24px);
  padding-left: rem(20px);

  @media (min-width: $tablet-width) {
    font-size: rem(22px);
    line-height: rem(33px);
    padding-left: rem(25px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(27px);
    line-height: rem(40.5px);
    padding-left: rem(30px);
  }

  &::before {
    color: $pink;
    counter-increment: ol-numbers;
    content: counter(ol-numbers) ". ";
  }
}
