section.synonyms-role.section
  .synonyms-role__container.container
    h2.synonyms-role__heading.section-heading.element-animation Роль синонимов в языке художественных произведений
    .synonyms-role__wrapper
      .synonyms-role__content
        p.synonyms-role__paragraph.paragraph.element-animation Не все значения слов в равной степени известны всем говорящим. Поэтому в речи разных лиц, различно овладешвих допускаемыми литературной нормой правилами синонимических сближений, может встречаться неодинаковая речевая синонимия.
      +example("Добрый", "Добродетельный, приветливый, гуманный, милосердный, участливый, благодушный, добросердечный")
