section.synonyms-about.section
  .container.synonyms-about__container
    .synonyms-about__content
      p.paragraph.synonyms-about__paragraph.element-animation <span class="color">Син<span>о</span>нимы</span> — слова, принадлежащие, к одной и той же части речи, различные по звучанию и написанию, но имеющие похожее лексическое значение.
    +example("Красивый", "Восхитительный, пленительный, великолепный, видный, бесподобный, дивный, обворожительный")
