.synonyms-examples.section
  .container.synonyms-examples__container
    h2.synonyms-examples__heading.section-heading.element-animation Примеры синонимов в русском языке:
    .synonyms-examples__wrapper
      .synonyms-examples__content
        ul.synonyms-examples__list
          li.synonyms-examples__item.element-animation
            p.synonyms-examples__paragraph.paragraph Кавалерия - Конница
          li.synonyms-examples__item.element-animation
            p.synonyms-examples__paragraph.paragraph Смелый - Храбрый
          li.synonyms-examples__item.element-animation
            p.synonyms-examples__paragraph.paragraph Идти - Шагать
        ul.synonyms-examples__list
          li.synonyms-examples__item.element-animation
            p.synonyms-examples__paragraph.paragraph Страна - Государство
          li.synonyms-examples__item.element-animation
            p.synonyms-examples__paragraph.paragraph Врач - Доктор
          li.synonyms-examples__item.element-animation
            p.synonyms-examples__paragraph.paragraph Ломать - Разрушать
      +example("Круто", "Отлично, потресающе, здорово, отменно, прекрасно, знатно, замечательно")
