section.synonyms-types.section
  .synonyms-types__container.container
    h2.synonyms-types__heading.section-heading.element-animation Виды синонимов
    .synonyms-types__wrapper
      .synonyms-types__content
        ul.synonyms-types__list
          li.synonyms-types__item
            h3.synonyms-types__item-heading Лексические
            p.synonyms-types__item-description.
              Слова одной и той же части речи,
              выражающие одно и то же понятие,
              но различающиеся оттенками лексического значение:
            ul.synonyms-types__item-examples.synonyms-types__item-examples--lexical
              li.synonyms-types__item-example
                i красный — алый
              li.synonyms-types__item-example
                i труд — работа
              li.synonyms-types__item-example
                i спелый — зрелый
          li.synonyms-types__item
            h3.synonyms-types__item-heading Стилистические
            p.synonyms-types__item-description.
              Слова одной и той же части речи,
              выражающие одно и то же понятие,
              но различающиеся употреблением в разных стилях речи:
            ul.synonyms-types__item-examples.synonyms-types__item-examples--stylistic
              li.synonyms-types__item-example #[i глаза] (нейтральный)
              li.synonyms-types__item-example #[i очи] (высокий)
              li.synonyms-types__item-example #[i зенки] (разговорный)
          li.synonyms-types__item
            h3.synonyms-types__item-heading Синтаксические
            p.synonyms-types__item-description.
              Параллельное синтаксический конструкции, имеющие разное построение,
              совпадающие по своему лексическому значению:
            ul.synonyms-types__item-examples.synonyms-types__item-examples--syntactic
              li.synonyms-types__item-example
                i начать работу — приступить к работе
              li.synonyms-types__item-example
                i она плохо себя чувствует — ей нездоровится

