.synonyms-test.section.element-animation
  .synonyms-test__container.container
    h2.synonyms-test__heading.section-heading.element-animation Небольшой тест
    p.synonyms-test__paragraph.paragraph.element-animation#test-head Синоним к слову "..."
    .synonyms-test__buttons#test-buttons
      button.synonyms-test__button.synonyms-test__button Default button
      button.synonyms-test__button.synonyms-test__button--wrong Wrong answer
      button.synonyms-test__button.synonyms-test__button--correct Correct answer
      button.synonyms-test__button.synonyms-test__button--passive Unclicked button


      //- p.synonyms-test__paragraph.paragraph.element-animation Синоним к слову "..."
      //- ul.synonyms-test__list
      //-   li.synonyms-test__item.element-animation
      //-     label.synonyms-test__label
      //-       input.synonyms-test__input(type="radio" name="synonyms-test")
      //-       span.synonyms-test__box
      //-       |Слово
      //-   li.synonyms-test__item.element-animation
      //-     label.synonyms-test__label
      //-       input.synonyms-test__input(type="radio" name="synonyms-test")
      //-       span.synonyms-test__box
      //-       |Слово
      //-   li.synonyms-test__item.element-animation
      //-     label.synonyms-test__label
      //-       input.synonyms-test__input(type="radio" name="synonyms-test")
      //-       span.synonyms-test__box
      //-       |Слово
      //- button.synonyms-test__button.element-animation Ответить
      .synonyms-test__process#test-pages 0 / 0
