.synonyms-why.section
  .container.synonyms-why__container
    h2.synonyms-why__heading.section-heading.element-animation Зачем нужны синонимы?
    .synonyms-why__wrapper
      .synonyms-why__content
        p.synonyms-why__paragraph.paragraph.element-animation Все рассказы испещрены глаголом <span class="color">говорить</span> в настоящем времени, что дает читателю право упрекнуть переводчика в небрежности или неграмотности.
        p.synonyms-why__quote.paragraph.element-animation Кроме <span class="color">говорит</span> можно употреблять формы <span class="color">сказал</span>, <span class="color">заметил</span>, <span class="color">отозвался</span>, <span class="color">откликнулся</span>, <span class="color">повторил</span>, <span class="color">молвил</span>, <span class="color">добавил</span>, <span class="color">заявил</span>, <span class="color">воскликнул</span>, <span class="color">дополнил</span>...
        p.synonyms-why__author.element-animation М. Горький
      +example("Бесить", "Раздражать, сердить, злить, досаждать, возмущать, действовать на нервы, выводить из себя")
