.synonyms-role.section
  .synonyms-role__container.container
    h2.synonyms-role__heading.section-heading.element-animation Роль синонимов в языке художественных произведений
    .synonyms-role__wrapper
      .synonyms-role__content
        p.synonyms-role__paragraph.paragraph.element-animation Не все значения слов в равной степени известны всем говорящим. Поэтому в речи разных лиц, различно овладешвих допускаемыми литературной нормой правилами синонимических сближений, может встречаться неодинаковая речевая синонимия.
        .synonyms-role__example
          h3.synonyms-role__subheading.element-animation Например:
          p.synonyms-role__word.paragraph.element-animation Слово <span class="color">“прозябать”</span><br>У него два значения:
          ol.synonyms-role__list.paragraph
            li.synonyms-role__item.element-animation Расти, произрастать
            li.synonyms-role__item.element-animation Вести пустое, бесцельное существование
          p.synonyms-role__text.paragraph.element-animation В первом значении глагол прозябать сейчас используется очень редко. Глагол обычно употребляется в разговорном языке со значением сильно озябнуть. В этом значении он вступает в синонимические связи не только со своим приставочным озябнуть, но и со словом замерзнуть, хотя это последнее слово, в свою очередь, означает не только сильно озябнуть, но и погибнуть от холода.
      .synonyms-role__examples
        +example("Добрый", "Добродетельный, приветливый, гуманный, милосердный, участливый, благодушный, добросердечный")
        +example("Прикольно", "Интересно, занимательно, здорово, изумительно, забавно, оригинально, поразительно")
        +example("Странный", "Чудной, диковинный, самобытный, оригинальный, экзотический, своеобразный, эксцентричный")
