@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa Regular"), local("Comfortaa-Regular"),
    url("../fonts/Comfortaa/Comfortaa-Regular.woff") format("woff"),
    url("../fonts/Comfortaa/Comfortaa-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa Bold"), local("Comfortaa-Bold"), url("../fonts/Comfortaa/Comfortaa-Bold.woff") format("woff"),
    url("../fonts/Comfortaa/Comfortaa-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Semibold"), local("Poppins-Semibold"),
    url("../fonts/Poppins/Poppins-Semibold.woff") format("woff"),
    url("../fonts/Poppins/Poppins-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
