*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page__body {
  opacity: 0;
  transition: 0.9s opacity ease-in-out;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  font-weight: normal;
  color: $black;
  position: relative;
  overflow-x: hidden;
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  &::before {
    position: absolute;
    content: "";
    width: rem(26px);
    height: 100%;
    background: url("../img/decoration-left.svg") repeat-y;
    left: 0;
    top: 0;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: rem(32px);
      left: rem(-11px);
      background: url("../img/decoration-left_tablet.svg") repeat-y;
    }

    @media (min-width: $desktop-width) {
      width: rem(123px);
      left: rem(-16px);
      background: url("../img/decoration-left_desktop.svg") repeat-y;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: rem(25px);
    height: 100%;
    background: url("../img/decoration-right.svg") repeat-y;
    right: 0;
    top: 0;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: rem(32px);
      background: url("../img/decoration-right_tablet.svg") repeat-y;
    }

    @media (min-width: $desktop-width) {
      width: rem(146px);
      right: rem(-36px);
      background: url("../img/decoration-right_desktop.svg") repeat-y;
    }
  }

  &--visible {
    opacity: 1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: rem(0 20px);
}

@media (min-width: $tablet-width) {
  .container {
    padding: rem(0 30px);
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: rem(0 110px);
  }
}

.color {
  color: $pink;
  font-weight: bold;

  & span {
    position: relative;

    &::after {
      content: "´";
      position: absolute;
      top: rem(-2px);
      left: 50%;
      transform: translateX(-50%);

      @media (min-width: $tablet-width) {
        top: rem(-6px);
      }

      @media (min-width: $desktop-width) {
        top: rem(-9px);
      }
    }
  }
}

.heading {
  margin: rem(0 0 30px);
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: rem(28px);
  line-height: rem(42px);
  color: $pink;

  @media (min-width: $tablet-width) {
    font-size: rem(40px);
    line-height: rem(48px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(60px);
    line-height: rem(72px);
    margin-bottom: rem(60px);
  }
}

.paragraph {
  margin: 0;
  padding: 0;
  font-size: rem(18px);
  line-height: rem(24px);

  @media (min-width: $tablet-width) {
    font-size: rem(24px);
    line-height: rem(36px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(30px);
    line-height: rem(45px);
  }
}

.section-heading {
  margin: rem(0 auto 20px);
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: $pink;
  text-align: center;
  font-weight: 600;
  font-size: rem(20px);
  line-height: rem(30px);

  @media (min-width: $tablet-width) {
    font-size: rem(27px);
    line-height: rem(40px);
    margin-bottom: rem(30px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: rem(40px);
    font-size: rem(40px);
    line-height: rem(60px);
  }
}

.section {
  margin-bottom: rem(30px);

  @media (min-width: $tablet-width) {
    margin-bottom: rem(40px);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: rem(50px);
  }
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: $black;
}

::-webkit-scrollbar-thumb {
  position: relative;
  background: $pink;
  border-radius: rem(50px);
}
