*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.page__body {
  opacity: 0;
  transition: 0.9s opacity ease-in-out;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  font-weight: normal;
  color: $black;
  position: relative;
  overflow-x: hidden;
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

  &::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 100%;
    background: url("../img/decoration-left.svg") repeat-y;
    left: 0;
    top: 0;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 32px;
      left: -11px;
      background: url("../img/decoration-left_tablet.svg") repeat-y;
    }

    @media (min-width: $desktop-width) {
      width: 123px;
      left: -16px;
      background: url("../img/decoration-left_desktop.svg") repeat-y;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 100%;
    background: url("../img/decoration-right.svg") repeat-y;
    right: 0;
    top: 0;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 32px;
      background: url("../img/decoration-right_tablet.svg") repeat-y;
    }

    @media (min-width: $desktop-width) {
      width: 146px;
      right: -36px;
      background: url("../img/decoration-right_desktop.svg") repeat-y;
    }
  }

  &--visible {
    opacity: 1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0 110px;
  }
}

.color {
  color: $pink;
  font-weight: bold;
}

.heading {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: $pink;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 60px;
  }
}

.paragraph {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 45px;
  }
}

.section-heading {
  margin: 0 auto;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: $pink;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 27px;
    line-height: 40px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 60px;
  }
}

.section {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: $black;
}

::-webkit-scrollbar-thumb {
  position: relative;
  background: $pink;
  border-radius: 50px;
}

// .element-animation {
//   opacity: 0;
//   transform: translateY(20px);
// }

// .element-animation.element-show {
//   opacity: 1;
//   transition: all 1.5s;
//   transform: translateY(0%);
// }
