.toponyms-about.section
  .container.toponyms-about__container
    p.paragraph.toponyms-about__paragraph.element-animation <span class="color">Топ<span>о</span>ним</span> — разряд онимов, обозначающих собственное название природного объекта на Земле или объекта, созданного человеком на Земле.
