section.toponyms-about.section
  .container.toponyms-about__container
    p.paragraph.toponyms-about__paragraph.element-animation <span class="color">Топоним</span> — разряд онимов, обозначающее собственное название природного объекта на Земле или объекта, созданного человеком на Земле.
