section.toponyms-examples.section
  .container
    h2.toponyms-examples__heading.section-heading Примеры топонимов
    .toponyms-examples__container
      .toponyms-examples__card
        picture
          source(type="image/webp" srcset="img/toponyms-examples/golcy-hamar-dabana.webp")
          img.toponyms-examples__image(src="img/toponyms-examples/golcy-hamar-dabana.png" alt="Хребет Хамар-Дабан" width="1200" height="792")
        p.toponyms-examples__signature.paragraph Хребет Хамар-Дабан (Россия)
      .toponyms-examples__card
        picture
          source(type="image/webp" srcset="img/toponyms-examples/voronezh.webp")
          img.toponyms-examples__image(src="img/toponyms-examples/voronezh.jpg" alt="Город Воронеж" width="1920" height="1286")
        p.toponyms-examples__signature.paragraph Город Воронеж (Россия)
      .toponyms-examples__card
        picture
          source(type="image/webp" srcset="img/toponyms-examples/golova-otapa.webp")
          img.toponyms-examples__image(src="img/toponyms-examples/golova-otapa.jpg" alt="Пещера Голова Отапа" width="1025" height="682")


        p.toponyms-examples__signature.paragraph Пещера Голова Отапа (Абхазия)
      .toponyms-examples__card
        picture
          source(type="image/webp" srcset="img/toponyms-examples/gorlo-dyavola.webp")
          img.toponyms-examples__image(src="img/toponyms-examples/gorlo-dyavola.jpg" alt="Пещера Горло Дьявола" width="1500" height="1001")
        p.toponyms-examples__signature.paragraph Пещера Горло Дьявола (Болгария)
