section.paronyms-examples.section
  .container.paronyms-examples__container
    ul.paronyms-examples__list
      li.paronyms-examples__item.paragraph.element-animation Представить – предоставить
      li.paronyms-examples__item.paragraph.element-animation Здравица – здравница
      li.paronyms-examples__item.paragraph.element-animation Скрытный – скрытый
      li.paronyms-examples__item.paragraph.element-animation Понятный – понятливый
      li.paronyms-examples__item.paragraph.element-animation Угодный – угодливый
