.paronyms-about.section
  .container.paronyms-about__container
    p.paragraph.paronyms-about__paragraph.element-animation.
      <span class="color">Пар<span>о</span>нимы</span> — однокоренные слова, близкие по звучанию, но разные по значению или частично совпадающие в своем значении. Следует различать паронимы:
    ol.paronyms-about__list(type="A")
      li.paronyms-about__item.element-animation имеющие разные приставки. <br> Например: отпечатки - опечатки
      li.paronyms-about__item.element-animation отличающиеся суффиксами. <br>  Например: безответственный - безответный
      li.paronyms-about__item.element-animation один имеет производную, а другой - непроизводную основу. <br> Например: рост - возраст
