.homonyms-differences.section
  .container.homonyms-differences__container
    h2.homonyms-differences__heading.section-heading.element-animation Виды омонимов
    ul.homonyms-differences__list
      li.homonyms-differences__item.element-animation
        h3.homonyms-differences__view Омографы
        p.homonyms-differences__description Совпадают в написании, различаются ударением
        p.homonyms-differences__example З<span class="homonyms-differences__color">а</span>мок - зам<span class="homonyms-differences__color">о</span>к
      li.homonyms-differences__item.element-animation
        h3.homonyms-differences__view Омофоны
        p.homonyms-differences__description Совпадают в звучании, различаются написанием
        p.homonyms-differences__example Пло<span class="homonyms-differences__color">д</span> - Пло<span class="homonyms-differences__color">т</span>
      li.homonyms-differences__item.element-animation
        h3.homonyms-differences__view Омоформы
        p.homonyms-differences__description Совпадение звучания отдельных форм слов
        p.homonyms-differences__example Печь <span class="homonyms-differences__color">(сущ.)</span> - Печь <span class="homonyms-differences__color">(гл.)</span>
