section.homonyms-examples.section
  .container.homonyms-examples__container
    h2.homonyms-examples__heading.section-heading.element-animation Примеры омонимов
    ul.homonyms-examples__list
      li.homonyms-examples__example.element-animation
        picture
          source(media="(min-width: 1260px)" type="image/webp" srcset="img/homonyms-examples/key-desktop.webp 1x, img/homonyms-examples/key-desktop@2x.webp 2x")
          source(media="(min-width: 768px)" type="image/webp" srcset="img/homonyms-examples/key-tablet.webp 1x, img/homonyms-examples/key-tablet@2x.webp 2x")
          source(type="image/webp" srcset="img/homonyms-examples/key.webp 1x, img/homonyms-examples/key@2x.webp 2x")
          source(media="(min-width: 1260px)" srcset="img/homonyms-examples/key-desktop.png 1x, img/homonyms-examples/key-desktop@2x.png 2x")
          source(media="(min-width: 768px)" srcset="img/homonyms-examples/key-tablet.png 1x, img/homonyms-examples/key-tablet@2x.png 2x")
          img.homonyms-examples__image(src="img/homonyms-examples/key.png" alt="Гаечный и дверной ключ" srcset="img/homonyms-examples/key.png@2x.png 2x" width="160" height="80" )
        h3.homonyms-examples__name Ключ
      li.homonyms-examples__example.element-animation
        picture
          source(media="(min-width: 1260px)" type="image/webp" srcset="img/homonyms-examples/locked-desktop.webp 1x, img/homonyms-examples/locked-desktop@2x.webp 2x")
          source(media="(min-width: 768px)" type="image/webp" srcset="img/homonyms-examples/locked-tablet.webp 1x, img/homonyms-examples/locked-tablet@2x.webp 2x")
          source(type="image/webp" srcset="img/homonyms-examples/locked.webp 1x, img/homonyms-examples/locked@2x.webp 2x")
          source(media="(min-width: 1260px)" srcset="img/homonyms-examples/locked-desktop.png 1x, img/homonyms-examples/locked-desktop@2x.png 2x")
          source(media="(min-width: 768px)" srcset="img/homonyms-examples/locked-tablet.png 1x, img/homonyms-examples/locked-tablet@2x.png 2x")
          img.homonyms-examples__image(src="img/homonyms-examples/locked.png" alt="Замок (здание) и дверной замок" srcset="img/homonyms-examples/locked.png@2x.png 2x" width="160" height="80" )
        h3.homonyms-examples__name Замок
