section.homonyms-about.section
  .container.homonyms-about__container
    p.paragraph.homonyms-about__paragraph.element-animation <span class="color">Ом<span>о</span>нимы</span> — слова, принадлежащие к одной и той же части речи и одинаково звучащие, но различные по значению.
