section.homonyms-puzzles.section
  .container.homonyms-puzzles__container
    h2.homonyms-puzzles__heading.section-heading.element-animation Загадки
    ul.homonyms-puzzles__list
      li.homonyms-puzzles__puzzle.element-animation
        p.homonyms-puzzles__text Когда я с <span class="homonyms-puzzles__color">т</span> на мне плывут, <br> Когда я с <span class="homonyms-puzzles__color">д</span>, меня сорвут
        button.homonyms-puzzles__answer#answer1(type="button") Показать ответ
      li.homonyms-puzzles__puzzle.element-animation
        p.homonyms-puzzles__text С <span class="homonyms-puzzles__color">к</span> я слезы вызываю, <br> с <span class="homonyms-puzzles__color">г</span> цветами удивляю
        button.homonyms-puzzles__answer#answer2(type="button") Показать ответ
