.antonyms-types__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 15px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    font-size: 19px;
    line-height: 28.5px;
  }
}

.antonyms-types__item {
  padding: 20px 15px;
  text-align: center;
  background: #cfcdff;
  border-radius: 10px;
}

.antonyms-types__item-heading {
  margin: 0 0 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 39px;
  }
}

.antonyms-types__item-description {
  margin: 0 0 5px;
  padding: 0;
}

.antonyms-types__item-examples {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 5px;
}
