.antonyms-examples__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(20px);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    gap: rem(25px);
    grid-template-columns: repeat(3, 1fr);
  }
}

.antonyms-examples__cards {
  position: relative;
  display: grid;
  gap: rem(20px);
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $tablet-width) {
    &:nth-child(2n + 1) {
      display: none;
    }
  }

  &::after {
    content: "";
    width: rem(90px);
    height: rem(24px);
    background: url("../img/antonyms-examples/arrow.png") no-repeat;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    left: 50%;
    z-index: 2;

    @media (min-width: $tablet-width) {
      width: rem(122px);
      height: rem(31px);

      &:nth-child(4) {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      width: rem(150px);
      height: rem(39px);
    }
  }
}

.antonyms-examples__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fbfbfb;
  box-shadow: rem(0 2px 10px) rgba(0, 0, 0, 0.1);
  border-radius: rem(5px);
  padding: rem(13px 0);
  position: relative;

  @media (min-width: $tablet-width) {
    padding: rem(18px 0);
  }
}

.antonyms-examples__icon {
  width: rem(70px);
  height: rem(70px);
  background: $white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: rem(17px);
}

.antonyms-examples__text {
  font-size: rem(15px);
  line-height: rem(22px);

  @media (min-width: $tablet-width) {
    font-size: rem(20px);
    line-height: rem(30px);
  }
}
