.antonyms-about.section
  .container
    p.paragraph.antonyms-about__paragraph.element-animation <span class="color">Ант<span>о</span>нимы</span> — слова одной части речи, различные по звучанию и написанию, имеющие прямо противоположные лексические значения.
