section.antonyms-types.section
  .container.antonyms-types__container
    h2.antonyms-types__heading.section-heading.element-animation Типы антонимов
    .antonyms-types__wrapper
      ul.antonyms-types__list
        li.antonyms-types__item
          h3.antonyms-types__item-heading Однокорневые
          p.antonyms-types__item-description.
            Противопоставление выражается при помощи приставок:
          ul.antonyms-types__item-examples
            li.antonyms-types__item-example сладкий — несладкий
            li.antonyms-types__item-example быль — небыль
            li.antonyms-types__item-example шумный — бесшумный
        li.antonyms-types__item
          h3.antonyms-types__item-heading Разнокорневые
          p.antonyms-types__item-description.
            Противопоставление заключено в целом:
          ul.antonyms-types__item-examples
            li.antonyms-types__item-example восток — запад
            li.antonyms-types__item-example плакать — смеяться
            li.antonyms-types__item-example слева — справа
