section.antonyms-remember.section
  .container.antonyms-remember__container
    h2.antonyms-remember__heading.section-heading.element-animation Узелки на память
    .antonyms-remember__nodules
      p.antonyms-remember__nodes Антонимы – это слова с противоположным значением
      p.antonyms-remember__nodes Антонимы отвечают на один и тот же вопрос
      p.antonyms-remember__nodes.
        Антонимы – это не только слова с разными корнями <span class="color">(весело – грустно)</span>,
        но и однокоренные слова <span class="color">(весело – невесело)</span>
      p.antonyms-remember__nodes.
        Не все слова имеют антонимы. Их нет, например, у слов <span class="color">стена</span>, <span class="color">стол</span>, <span class="color">ваза</span>, <span class="color">берёза</span>, <span class="color">глаз</span>, <span class="color">корова</span>
      p.antonyms-remember__nodes.
        Антонимы могут быть выражены разными частями речи
