.antonyms-remember.section
  .container.antonyms-remember__container
    h2.antonyms-remember__heading.section-heading.element-animation Узелки на память
    .antonyms-remember__nodules
      p.antonyms-remember__nodes Антонимы – это слова с противоположным значением
      p.antonyms-remember__nodes Антонимы отвечают на один и тот же вопрос
      p.antonyms-remember__nodes.
        Антонимы могут быть не только слова с разными корнями <span class="color">(весело – грустно)</span>,
        но и однокоренные слова <span class="color">(весело – негрустно)</span>
      p.antonyms-remember__nodes.
        Не все слова имеют антонимы. Их нет, например, у слов: стена, стол, ваза, берёза, глаз, корова
      p.antonyms-remember__nodes.
        Антонимы могут быть выражены разными частями речи: <span class="color">существительными</span>, <span class="color">прилагательными</span>, <span class="color">глаголами</span>
