.antonyms-examples.section
  .container.antonyms-examples__container
    h2.antonyms-examples__heading.section-heading.element-animation Примеры антонимов в русском языке
    .antonyms-examples__wrapper
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sweet.webp 1x, img/antonyms-examples/icon-sweet@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sweet.png" alt="Мёд" srcset="img/antonyms-examples/icon-sweet@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Сладкий
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sour.webp 1x, img/antonyms-examples/icon-sour@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sour.png" alt="Лимон" srcset="img/antonyms-examples/icon-sour@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Кислый
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-laugh.webp 1x, img/antonyms-examples/icon-sweet@2x.webp 2x")
              img(src="img/antonyms-examples/icon-laugh.png" alt="Улыбающийся смайлик" srcset="img/antonyms-examples/icon-laugh@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Смеяться
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sry.webp 1x, img/antonyms-examples/icon-sry@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sry.png" alt="Плачущий смайлик" srcset="img/antonyms-examples/icon-sry@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Плакать
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sun.webp 1x, img/antonyms-examples/icon-sun@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sun.png" alt="Солнце" srcset="img/antonyms-examples/icon-sun@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Солнце
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-moon.webp 1x, img/antonyms-examples/icon-moon@2x.webp 2x")
              img(src="img/antonyms-examples/icon-moon.png" alt="Луна" srcset="img/antonyms-examples/icon-moon@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Луна
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sun.webp 1x, img/antonyms-examples/icon-sun@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sun.png" alt="Солнце" srcset="img/antonyms-examples/icon-sun@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Солнце
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-moon.webp 1x, img/antonyms-examples/icon-moon@2x.webp 2x")
              img(src="img/antonyms-examples/icon-moon.png" alt="Луна" srcset="img/antonyms-examples/icon-moon@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Луна
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sun.webp 1x, img/antonyms-examples/icon-sun@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sun.png" alt="Солнце" srcset="img/antonyms-examples/icon-sun@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Солнце
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-moon.webp 1x, img/antonyms-examples/icon-moon@2x.webp 2x")
              img(src="img/antonyms-examples/icon-moon.png" alt="Луна" srcset="img/antonyms-examples/icon-moon@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Луна
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sun.webp 1x, img/antonyms-examples/icon-sun@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sun.png" alt="Солнце" srcset="img/antonyms-examples/icon-sun@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Солнце
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-moon.webp 1x, img/antonyms-examples/icon-moon@2x.webp 2x")
              img(src="img/antonyms-examples/icon-moon.png" alt="Луна" srcset="img/antonyms-examples/icon-moon@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Луна
