section.antonyms-examples.section
  .container.antonyms-examples__container
    h2.antonyms-examples__heading.section-heading.element-animation Примеры антонимов в русском языке
    .antonyms-examples__wrapper
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sweet.webp 1x, img/antonyms-examples/icon-sweet@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sweet.png" alt="Мёд" srcset="img/antonyms-examples/icon-sweet@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Сладкий
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sour.webp 1x, img/antonyms-examples/icon-sour@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sour.png" alt="Лимон" srcset="img/antonyms-examples/icon-sour@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Кислый
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-laugh.webp 1x, img/antonyms-examples/icon-sweet@2x.webp 2x")
              img(src="img/antonyms-examples/icon-laugh.png" alt="Улыбающийся смайлик" srcset="img/antonyms-examples/icon-laugh@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Смеяться
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sry.webp 1x, img/antonyms-examples/icon-sry@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sry.png" alt="Плачущий смайлик" srcset="img/antonyms-examples/icon-sry@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Плакать
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-sun.webp 1x, img/antonyms-examples/icon-sun@2x.webp 2x")
              img(src="img/antonyms-examples/icon-sun.png" alt="Солнце" srcset="img/antonyms-examples/icon-sun@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text День
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-moon.webp 1x, img/antonyms-examples/icon-moon@2x.webp 2x")
              img(src="img/antonyms-examples/icon-moon.png" alt="Луна" srcset="img/antonyms-examples/icon-moon@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Ночь
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-young.webp 1x, img/antonyms-examples/icon-young@2x.webp 2x")
              img(src="img/antonyms-examples/icon-young.png" alt="Молодой человек" srcset="img/antonyms-examples/icon-young@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Молодой
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-older.webp 1x, img/antonyms-examples/icon-older@2x.webp 2x")
              img(src="img/antonyms-examples/icon-older.png" alt="Пожилой человек" srcset="img/antonyms-examples/icon-older@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Пожилой
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-bicycle.webp 1x, img/antonyms-examples/icon-bicycle@2x.webp 2x")
              img(src="img/antonyms-examples/icon-bicycle.png" alt="Велосипед" srcset="img/antonyms-examples/icon-bicycle@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Велосипед
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-auto.webp 1x, img/antonyms-examples/icon-auto@2x.webp 2x")
              img(src="img/antonyms-examples/icon-auto.png" alt="Машина" srcset="img/antonyms-examples/icon-auto@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Машина
      .antonyms-examples__cards
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-bad.webp 1x, img/antonyms-examples/icon-bad@2x.webp 2x")
              img(src="img/antonyms-examples/icon-bad.png" alt="Кровать" srcset="img/antonyms-examples/icon-bad@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Мягкий
        .antonyms-examples__card.element-animation
          .antonyms-examples__icon
            picture
              source(type="image/webp" srcset="img/antonyms-examples/icon-stone.webp 1x, img/antonyms-examples/icon-stone@2x.webp 2x")
              img(src="img/antonyms-examples/icon-stone.png" alt="Камень" srcset="img/antonyms-examples/icon-stone@2x.png 2x" width="44" height="44" )
          .antonyms-examples__text Твёрдый
