.homonyms-differences__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  font-size: 16px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    font-size: 19px;
    line-height: 28.5px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    font-size: 22px;
    line-height: 33px;
    gap: 25px;
    width: 90%;
    margin: 0 auto;
  }
}

.homonyms-differences__item {
  padding: 20px 15px;
  text-align: center;
  background: #cfcdff;
  border-radius: 10px;

  &:last-child {
    @media (min-width: $tablet-width) {
      grid-column: 1/3;
      justify-self: center;
      width: 47%;
    }

    @media (min-width: $desktop-width) {
      width: auto;
      grid-column: auto;
    }
  }
}

.homonyms-differences__view {
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 39px;
  }
}

.homonyms-differences__description {
  margin: 0 0 10px 0;
  padding: 0;
}

.homonyms-differences__example {
  margin: 0;
  padding: 0;
}

.homonyms-differences__color {
  font-weight: bold;
  color: $pink;
}
