.synonyms-types__content {
  @media (min-width: $desktop-width) {
    width: 67%;
  }
}

.synonyms-types__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(15px);
  font-size: rem(16px);
  line-height: rem(24px);

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    font-size: rem(19px);
    line-height: rem(28.5px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(22px);
    line-height: rem(33px);
    gap: rem(25px);
  }
}

.synonyms-types__item {
  padding: rem(20px 15px);
  text-align: center;
  background: #ffcdcd;
  border-radius: 10px;

  &:last-child {
    @media (min-width: $tablet-width) {
      grid-column: 1/3;
      justify-self: center;
      width: 47%;
    }
  }
}

.synonyms-types__item-heading {
  margin: rem(0 0 10px);
  font-size: rem(20px);
  line-height: rem(26px);
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: rem(24px);
    line-height: rem(36px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(26px);
    line-height: rem(39px);
  }
}

.synonyms-types__item-description {
  margin: rem(0 0 5px);
  padding: 0;
}

.synonyms-types__item-examples {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: rem(5px);
}

.synonyms-types__item-example {
  i {
    font-weight: 700;
  }
}
