.synonyms-role__heading {
  @media (min-width: $desktop-width) {
    width: 52%;
  }
}

.synonyms-role__paragraph {
  margin-bottom: rem(20px);
}

.synonyms-role__subheading {
  margin: rem(0 0 10px);
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: rem(18px);
  line-height: rem(24px);
  color: $pink;

  @media (min-width: $tablet-width) {
    font-size: rem(25px);
    line-height: rem(37px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(30px);
    line-height: rem(45px);
  }
}

.synonyms-role__word {
  margin-bottom: rem(10px);
}

.synonyms-role__list {
  margin: rem(0 0 10px);
  padding: rem(0 0 0 17px);
}

.synonyms-role__content {
  @media (min-width: $desktop-width) {
    width: 68%;
    margin-right: rem(30px);
  }
}

.synonyms-role__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.synonyms-role__examples {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: rem(100px);

  & div {
    width: 100%;
  }
}
