.synonyms-about {
  margin-bottom: rem(30px);
}

.synonyms-about__content {
  @media (min-width: $desktop-width) {
    width: 67%;
    margin-right: rem(30px);
  }
}

.synonyms-about__container {
  display: flex;
  justify-content: space-between;
}
