.synonyms-why__heading {
  text-align: center;
  width: 47%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.synonyms-why__paragraph {
  margin-bottom: rem(20px);

  @media (min-width: $tablet-width) {
    margin-bottom: rem(30px);
  }
}

.synonyms-why__quote {
  margin-bottom: rem(15px);
}

.synonyms-why__author {
  margin: 0;
  font-size: rem(15px);
  line-height: rem(15px);
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: rem(20px);
    line-height: rem(20px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(25px);
    line-height: rem(25px);
    margin-right: rem(20px);
  }
}

.synonyms-why__content {
  @media (min-width: $desktop-width) {
    width: 68%;
    margin-right: rem(30px);
  }
}

.synonyms-why__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
