.synonyms-test__paragraph {
  text-align: center;
  width: 68%;
  margin: 0 auto;
  margin-bottom: 25px;
}

.synonyms-test__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 17px;
  margin-bottom: 28px;
}

.synonyms-test__label {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding-left: 50px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    font-size: 24px;
    line-height: 36px;
  }
}

.synonyms-test__input {
  position: absolute;
  margin: 0;
  appearance: none;

  &:checked+.synonyms-test__box {
    background: url("../img/test/radio-on.svg");

    @media (min-width: $tablet-width) {
      width: 41px;
      height: 41px;
      background-size: contain;
    }
  }
}

.synonyms-test__box {
  position: absolute;
  background: url("../img/test/radio-off.svg") no-repeat;
  width: 31px;
  height: 31px;
  margin-left: -50px;

  @media (min-width: $tablet-width) {
    width: 41px;
    height: 41px;
    background-size: contain;
    margin-left: -60px;
  }
}

.synonyms-test__button {
  background: #cfcdff;
  border: none;
  display: block;
  margin: 0 auto;
  padding: 11px;
  border-radius: 7px;
  width: 76%;
  color: $black;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  transition: background-color ease 0.3s;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  &:hover {
    background-color: lighten(#cfcdff, 5%);
  }

  &--wrong {
    background: #eb6465;

    &:hover {
      background-color: lighten(#eb6465, 5%);
    }
  }

  &--correct {
    background: #b7ff8d;

    &:hover {
      background-color: lighten(#b7ff8d, 5%);
    }
  }

  &--passive {
    background: #e4e4e4;

    &:hover {
      background-color: lighten(#e4e4e4, 5%);
    }
  }
}

.synonyms-test__process {
  height: 9px;
  width: 76%;
  border: 0.7px solid $black;
  border-radius: 47px;
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.synonyms-test__toggle {
  height: 5px;
  width: calc(100% / 3);
  background: $pink;
  display: block;
  border-radius: 44px;
  margin: 2px 0 2px 2px;
}

.synonyms-test__buttons {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 80%;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
  }
}
