.synonyms-examples__heading {
  width: 80%;

  @media (min-width: $tablet-width) {
    width: 40%;
  }

  @media (min-width: $desktop-width) {
    width: 35%;
  }
}

.synonyms-examples__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  display: grid;
  justify-content: center;
  gap: 5px;

  @media (min-width: $tablet-width) {
    justify-content: start;
    text-align: left;
  }

  &:nth-child(1) {
    @media (max-width: $tablet-width) {
      margin-bottom: 5px;
    }
  }
}

.synonyms-examples__paragraph {
  @media (min-width: $tablet-width) {
    display: inline-block;
    text-align: left;
  }
}

.synonyms-examples__content {
  @media (min-width: $tablet-width) {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    width: 67%;
    margin-right: 30px;
  }
}

.synonyms-examples__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
