section.hydronims-examples.section
  .container
    h2.hydronims-examples__heading.section-heading Примеры топонимов
    .hydronims-examples__container
      .hydronims-examples__card
        picture
          source(type="image/webp" srcset="img/hydronims-examples/cviyaga.webp")
          img.hydronims-examples__image(src="img/hydronims-examples/cviyaga.png" alt="Река Свияга" width="1400" height="933")
        p.hydronims-examples__signature.paragraph Река Свияга
      .hydronims-examples__card
        picture
          source(type="image/webp" srcset="img/hydronims-examples/baikal.webp")
          img.hydronims-examples__image(src="img/hydronims-examples/baikal.jpg" alt="Озеро Байкал" width="1280" height="853")
        p.hydronims-examples__signature.paragraph Озеро Байкал
      .hydronims-examples__card
        picture
          source(type="image/webp" srcset="img/hydronims-examples/volga.webp")
          img.hydronims-examples__image(src="img/hydronims-examples/volga.jpg" alt="Река Волга" width="1418" height="948")
        p.hydronims-examples__signature.paragraph Река Волга
      .hydronims-examples__card
        picture
          source(type="image/webp" srcset="img/hydronims-examples/caspian-sea.webp")
          img.hydronims-examples__image(src="img/hydronims-examples/caspian-sea.jpg" alt="Каспийское море" width="1600" height="1060")
        p.hydronims-examples__signature.paragraph Каспийское море
