.hydronims-about.section
  .container.hydronims-about__container
    p.paragraph.hydronims-about__paragraph.element-animation.
      <span class="color">Гидр<span>о</span>нимы</span> — это названия рек и озёр ("гидро" - вода; "оним" - название).
