.paronyms-about__paragraph {
  @media (min-width: $desktop-width) {
    width: 80%;
    margin-bottom: 5px;
  }
}

.paronyms-about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 5px;
}

.paronyms-about__item {
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 33px;
    padding-left: 25px;
  }

  @media (min-width: $desktop-width) {
    font-size: 27px;
    line-height: 40.5px;
    padding-left: 30px;
  }

  &:nth-child(1)::before {
    position: absolute;
    content: "а) ";
    color: $pink;
    left: 0;
  }

  &:nth-child(2)::before {
    position: absolute;
    content: "б) ";
    color: $pink;
    left: 0;
  }

  &:nth-child(3)::before {
    position: absolute;
    content: "в) ";
    color: $pink;
    left: 0;
  }
}
