.paronyms-about__paragraph {
  @media (min-width: $desktop-width) {
    width: 80%;
    margin-bottom: rem(5px);
  }
}

.paronyms-about__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: rem(5px);
}

.paronyms-about__item {
  position: relative;
  font-size: rem(18px);
  line-height: rem(24px);
  padding-left: rem(20px);

  @media (min-width: $tablet-width) {
    font-size: rem(22px);
    line-height: rem(33px);
    padding-left: rem(25px);
  }

  @media (min-width: $desktop-width) {
    font-size: rem(27px);
    line-height: rem(40.5px);
    padding-left: rem(30px);
  }

  &:nth-child(1)::before {
    position: absolute;
    content: "а) ";
    color: $pink;
    left: 0;
  }

  &:nth-child(2)::before {
    position: absolute;
    content: "б) ";
    color: $pink;
    left: 0;
  }

  &:nth-child(3)::before {
    position: absolute;
    content: "в) ";
    color: $pink;
    left: 0;
  }
}
